# SMTP Configuration for sending contact form emails. 
# You must provide these if you want real emails to be sent.
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# The email address that should receive the contact form submissions
DESIGNATED_EMAIL_ADDRESS=contact@example.com
